[submodule "STM32F103C8T6-breakout-board_compact"]
	path = STM32F103C8T6-breakout-board_compact
	url = https://github.com/nathancharlesjones/STM32F103C8T6-breakout-board_compact
[submodule "STM32F103C8T6-breakout-board_protoboard"]
	path = STM32F103C8T6-breakout-board_protoboard
	url = https://github.com/nathancharlesjones/STM32F103C8T6-breakout-board_protoboard
